<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.orderMapper">

	<select id="getList" resultType="org.zerock.domain.orderVO">
		SELECT * FROM order_record
	</select>

	<insert id="insert" parameterType="org.zerock.domain.orderVO">
		INSERT INTO order_record (order_code, account_code, order_date,
		order_manager, delivery_date)
		VALUES(#{order_code}, #{account_code}, sysdate, #{order_manager}, sysdate)
	</insert>


	<select id="getProductList"
		resultType="org.zerock.domain.ProductVO">
		SELECT * FROM product
	</select>


</mapper>