<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ProductionListMapper">

  <select id="getList" resultType="org.zerock.domain.ProductionListVO">
  	SELECT * FROM production_list 
  </select>
  
  	<insert id="insertPL" parameterType="org.zerock.domain.ProductionListVO">
		insert into production_list (item_code ,pr_code ,sdate)
		VALUES(#{item_code}, #{pr_code},  #{sdate})
	</insert>
	
	
</mapper>
