<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.RawMaterialMapper">

	<insert id="registerItem" parameterType="org.zerock.domain.ItemVO">
		INSERT INTO item (item_code, type) VALUES (seq_item.nextval, #{type})
	</insert>

  <select id="getlist" resultType="org.zerock.domain.RawMaterialVO">
  	SELECT * FROM raw_materials
  </select>

	<insert id="registerRawMaterial" parameterType="org.zerock.domain.RawMaterialVO">
		insert into raw_materials (raw_materials_code, type, name, renewability, unit, standard_quantity, item_code, origin)
		VALUES( (SELECT max(item_code) FROM item) , #{type}, #{name}, #{renewability},#{unit}, #{standard_quantity}, (SELECT max(item_code) FROM item) , #{origin})
	</insert>
	
	<update id="updateRawMaterial" parameterType="org.zerock.domain.RawMaterialVO">
		update raw_materials set
		type = #{type}, name = #{name}, renewability = #{renewability},
		unit = #{unit}, standard_quantity = #{standard_quantity}, origin = #{origin}
		where raw_materials_code = #{raw_materials_code}
	</update>
	
	<delete id="deleteRawMaterial" parameterType="int">
		delete raw_materials
		where raw_materials_code = #{raw_materials_code}
	</delete>


	<select id="searchRawMaterial" parameterType="String" resultType="org.zerock.domain.RawMaterialVO">
			SELECT * FROM raw_materials WHERE name like '%'||#{name}||'%' 
	</select>
	<select id="selectOnce" parameterType="int" resultType="org.zerock.domain.RawMaterialVO">
			SELECT * FROM raw_materials WHERE raw_materials_code = #{item_code} 
	</select>
	
	
</mapper>
