<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.RawMaterialMapper">

  <select id="getlist" resultType="org.zerock.domain.RawMaterialVO">
  	SELECT * FROM raw_materials 
  </select>

	<insert id="insertRawMaterial" parameterType="org.zerock.domain.RawMaterialVO">
		insert into raw_materials (raw_materials_code, classification, materials_name, renewability, unit, standard_quantity, origin)
		VALUES(seq_raw_materials_code.nextval, #{classification}, #{material_name}, #{renewability},#{unit}, #{standard_quantity}, #{orgin})
	</insert>

</mapper>
